
/* CatalogList */

ul.catalog-list {
  list-style: none outside none;
  padding: 0;
}

ul.catalog-list > li {
  border-top: 1px solid #eee;
  padding-bottom: 1rem;
}

/* GenericCatalogItemDetails */

table.item-info > tbody > tr > td {
  padding: 0.5rem;
}

table.item-info > tbody > tr > td:first-child {
  font-weight: bold;
}

/* Inline Item, see InlineCatalogItem */

.inline-item {
  padding-left: 0.3rem;
}

/* Inline CSV (Comma-Separated Value) List */

.csv {
  display: inline;
  padding-left: 0;
}

.csv > li {
  display: inline;
}

.csv > li:before {
  content: ',\0000a0'; /* Non-breaking space */
}

.csv > li:first-child:before {
  content: normal;
}

/* Named Value Element */

.named-value-elem {
  padding: 0.5rem;
  display: inline-block;
}

/* Item Details Table */

.item-details > tbody > tr > td:first-child {
  font-weight: bold;
}

.item-details > tbody > tr > td {
  padding: 0.5rem;
}
