
body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Input forms with inputs in monospace */

.use-monospace {
  font-family: Consolas, Lucida Console, monospace;
}

.break-all {
  word-break: break-all;
}

/* Sign In Form */

form.signin-form div {
  min-height: 2rem;
}

form.signin-form > div.button-holder {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}


/* Navbar icon */
.navbar-brand .glyphicon {
  color: #ff9900;
}

/* CatalogList */

ul.catalog-list {
  list-style: none outside none;
  padding: 0;
}

ul.catalog-list > li {
  border-top: 1px solid #eee;
  padding-bottom: 1rem;
}

/* GenericCatalogItemDetails */

table.item-info > tbody > tr > td {
  padding: 0.5rem;
}

table.item-info > tbody > tr > td:first-child {
  font-weight: bold;
}

/* Inline Item, see InlineCatalogItem */

.inline-item {
  padding-left: 0.3rem;
}

/* Inline CSV (Comma-Separated Value) List */

.csv {
  display: inline;
  padding-left: 0;
}

.csv > li {
  display: inline;
}

.csv > li:before {
  content: ',\0000a0'; /* Non-breaking space */
}

.csv > li:first-child:before {
  content: normal;
}

/* Named Value Element */

.named-value-elem {
  padding: 0.5rem;
  display: inline-block;
}

/* Item Details Table */

.item-details > tbody > tr > td:first-child {
  font-weight: bold;
}

.item-details > tbody > tr > td {
  padding: 0.5rem;
}

/* Favorites */

.fav-link .star {
  display: none;
}

.fav-link .unstar {
  display: inline;
}

.fav-link.fav .star {
  display: inline;
}

.fav-link.fav .unstar {
  display: none;
}
